<h1>Nuevo Reporte</h1>
<form>
    <div class="form-group">
        <label for="nombre" class="form-label">Nombre</label>
        <input [(ngModel)]="nombre" name="nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
        <label for="reporte" class="form-label">Reporte</label>
        <input [(ngModel)]="reporte" name="reporte" type="text" class="form-control" id="reporte" placeholder="Reporte">
    </div>

    <div class="form-group">
        <label for="reporte" class="form-label">Descripcion</label>
        <textarea [(ngModel)]="descripcion" name="descripcion" type="text" class="form-control" id="descripcion" placeholder="Descripcion">
        </textarea>
    </div>

    <div class="form-group">
        <label for="imagen" class="form-label">Reporte</label>
        <input [(ngModel)]="imagen" name="imagen" (change)="capturarFile($event)" type="file" class="form-control" id="imagen" placeholder="">
        <div  *ngIf="previsualizacion">
            <img [src]="previsualizacion">
        </div>
    </div>

    <button (click)="enviar()" type="button" class="btn btn-primary">Enviar</button>
</form>